In [1]:
import pandas as pd

In [2]:
import sys
sys.path.append('../')

In [4]:
pd.read_csv('../data/interim/yearly/df_back_2018.csv')

,date,10104,10107,10145,11308,11850,12060,12308,12490,13407,...,90215,90319,91233,91937,92602,92611,92618,92655,93002,93436
0,2018-01-02,-0.013748,0.004793,0.002282,-0.007411,0.016619,0.030372,0.038725,0.005410,0.028108,...,0.021324,0.018806,0.003634,0.008345,-0.011926,0.004298,-0.018442,0.003175,NaN,0.029484
1,2018-01-03,0.023161,0.004654,-0.008262,-0.002196,0.019640,0.009455,0.011634,0.027488,0.017914,...,0.008428,0.017061,0.012573,-0.006715,-0.001245,0.009955,0.000525,0.010490,NaN,-0.010233
2,2018-01-04,0.009851,0.008801,0.013513,0.014085,0.001384,0.020937,-0.009178,0.020254,-0.001841,...,0.013202,0.003884,0.012937,-0.009590,-0.007577,0.003718,0.004721,0.004340,NaN,-0.008290
3,2018-01-05,0.006019,0.012398,0.006990,-0.000217,-0.000806,0.000540,0.003116,0.004886,0.013671,...,0.013311,0.013260,0.020730,0.025397,0.008022,0.023949,-0.002819,0.019069,NaN,0.006230
4,2018-01-08,0.010522,0.001020,-0.005399,-0.001519,0.004496,-0.014024,0.016159,0.006031,0.007653,...,0.007031,0.003531,0.003018,0.007740,-0.001534,0.004038,0.001885,-0.017357,NaN,0.062638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,2018-12-24,-0.029773,-0.041739,-0.035615,-0.033845,-0.038315,-0.032168,-0.036664,-0.030377,-0.007123,...,-0.012855,-0.006638,-0.003082,-0.018246,-0.003625,-0.020361,NaN,-0.022657,-0.045364,-0.076242
247,2018-12-26,0.044507,0.068310,0.037972,0.021323,0.047779,0.067919,0.044531,0.035512,0.081573,...,0.078381,0.064164,0.067449,0.036349,0.013491,0.069827,NaN,0.044690,0.061334,0.103930
248,2018-12-27,0.008522,0.006166,0.015436,0.012569,0.004371,-0.016238,-0.003395,0.021456,0.002534,...,0.033323,0.004819,0.012123,-0.005713,-0.002692,0.013668,NaN,0.010766,0.010921,-0.030544
249,2018-12-28,-0.003336,-0.007808,-0.006157,-0.006943,-0.011169,0.033012,0.001229,-0.006592,-0.009813,...,-0.003846,-0.005907,-0.013408,0.009417,0.008848,-0.008105,NaN,0.001098,0.010923,0.056116
250,2018-12-31,0.007363,0.011754,0.010401,0.003178,0.000293,0.007989,-0.000386,0.005662,-0.015841,...,0.017003,-0.001643,0.013376,0.005851,-0.007581,0.007637,NaN,0.011696,0.002721,-0.003205