In [1]:
a= None

In [2]:
a is None

True

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(index=pd.MultiIndex.from_tuples([(1,1),(1,2),(1,3),(2,1),(2,2)]))

In [6]:
df['a']=[1,2,3,4,5]

In [11]:
df.groupby(df.index.get_level_values(0), observed=False).shift(1)

       a
1 1  NaN
  2  1.0
  3  2.0
2 1  NaN
  2  4.0