## Imports

In [2]:
import wrds
import pandas as pd
import numpy as np
import datetime as dt
import sys

#import pandas_datareader.data as web

#import requests
#import io
#import zipfile

#import mypack.data as data

## Set up WRDS Connection

In [109]:
wrds_conn = wrds.Connection(wrds_username='felixbru')
#wrds_connection.create_pgpass_file()
#wrds_connection.close()

Loading library list...
Done

## Select data

In [110]:
libraries = wrds_conn.list_libraries()
libraries.sort()
libraries[0:10]

['aha',
 'aha_sample',
 'ahasamp',
 'audit',
 'bank',
 'blab',
 'block',
 'boardex',
 'boardex_trial',
 'boardsmp']

In [117]:
library = 'crsp'#_a_stock'

In [118]:
library_tables = wrds_conn.list_tables(library=library)
library_tables.sort()
library_tables[0:10]

['acti',
 'asia',
 'asib',
 'asic',
 'asio',
 'asix',
 'bmdebt',
 'bmheader',
 'bmpaymts',
 'bmquotes']

In [119]:
table = 'dsf'

In [120]:
wrds_conn.describe_table(library=library, table=table).sort_values('name')

Approximately 96285900 rows in crsp.dsf.

       name  nullable              type
13      ask      True  DOUBLE PRECISION
8     askhi      True  DOUBLE PRECISION
12      bid      True  DOUBLE PRECISION
7     bidlo      True  DOUBLE PRECISION
15   cfacpr      True  DOUBLE PRECISION
16  cfacshr      True  DOUBLE PRECISION
0     cusip      True           VARCHAR
6      date      True              DATE
4     hexcd      True  DOUBLE PRECISION
5    hsiccd      True  DOUBLE PRECISION
3    issuno      True  DOUBLE PRECISION
18   numtrd      True  DOUBLE PRECISION
17  openprc      True  DOUBLE PRECISION
2    permco      True  DOUBLE PRECISION
1    permno      True  DOUBLE PRECISION
9       prc      True  DOUBLE PRECISION
11      ret      True  DOUBLE PRECISION
19     retx      True  DOUBLE PRECISION
14   shrout      True  DOUBLE PRECISION
10      vol      True  DOUBLE PRECISION

## Download CRSP data

In [88]:
columns = ['date', 'permno' ,'permco', 'ret', 'retx', 'prc', 'shrout', 'exchcd']

In [90]:
other_data = wrds_conn.raw_sql("""
                      select a.permno, a.permco, a.date, b.shrcd, b.exchcd,
                      a.ret, a.retx, a.shrout, a.prc
                      from crsp.msf as a
                      left join crsp.msenames as b
                      on a.permno=b.permno
                      and b.namedt<=a.date
                      and a.date<=b.nameendt
                      where a.date between '01/01/1959' and '12/31/2017'
                      and b.exchcd between 1 and 3
                      """)

In [95]:
other_data.head(20)#shape

,permno,permco,date,shrcd,exchcd,ret,retx,shrout,prc
0,10000.0,7952.0,1986-01-31,10.0,3.0,NaN,NaN,3680.0,-4.3750
1,10001.0,7953.0,1987-11-30,11.0,3.0,-0.029412,-0.029412,992.0,6.1875
2,10001.0,7953.0,1987-12-31,11.0,3.0,-0.033535,-0.050505,992.0,5.8750
3,10001.0,7953.0,1988-01-29,11.0,3.0,0.063830,0.063830,992.0,6.2500
4,10001.0,7953.0,1988-02-29,11.0,3.0,0.080000,0.080000,992.0,6.7500
5,10001.0,7953.0,1988-03-31,11.0,3.0,-0.076296,-0.092593,992.0,6.1250
6,10001.0,7953.0,1988-04-29,11.0,3.0,0.030612,0.030612,992.0,-6.3125
7,10001.0,7953.0,1988-05-31,11.0,3.0,0.019802,0.019802,992.0,-6.4375
8,10001.0,7953.0,1988-06-30,11.0,3.0,-0.012039,-0.029126,992.0,6.2500
9,10001.0,7953.0,1988-07-29,11.0,3.0,0.030000,0.030000,992.0,-6.4375
10,10001.0,7953.0,1988-08-31,11.0,3.0,0.029126,0.029126,992.0,6.6250
11,10001.0,7953.0,1988-09-30,11.0,3.0,-0.021132,-0.037736,998.0,-6.3750
12,10001.0,7953.0,1988-10-31,11.0,3.0,0.039216,0.039216,998.0,6.6250
13,10001.0,7953.0,1988-11-30,11.0,3.0,0.000000,0.000000,998.0,6.6250
14,10001.0,7953.0,1988-12-30,11.0,3.0,-0.021132,-0.037736,998.0,6.3750
15,10001.0,7953.0,1989-01-31,11.0,3.0,0.019608,0.019608,998.0,6.5000
16,10001.0,7953.0,1989-02-28,11.0,3.0,0.038462,0.038462,998.0,6.7500
17,10001.0,7953.0,1989-03-31,11.0,3.0,0.017778,0.000000,998.0,6.7500
18,10001.0,7953.0,1989-04-28,11.0,3.0,0.074074,0.074074,998.0,7.2500
19,10001.0,7953.0,1989-05-31,11.0,3.0,-0.034483,-0.034483,998.0,7.0000

In [98]:
import sys
sys.getsizeof(other_data)

399183040

In [89]:
crsp_data = wrds_conn.get_table(library=library, table=table, columns=columns)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "exchcd" does not exist
LINE 1: SELECT date,permno,permco,ret,retx,prc,shrout,exchcd FROM cr...
                                                      ^
HINT:  Perhaps you meant to reference the column "dsf.hexcd".
 [SQL: 'SELECT date,permno,permco,ret,retx,prc,shrout,exchcd FROM crspa.dsf  OFFSET 0;'] (Background on this error at: http://sqlalche.me/e/f405)

In [6]:
# download
crsp_data = wrds_conn.get_table(library='crspa', table='dsi', columns=['date','vwretd'])

# edit data formats
crsp_data['date'] = pd.to_datetime(crsp_data['date'], yearfirst=True)

# declare index
crsp_data.set_index('date', inplace=True)

# rename variables
crsp_data = crsp_data.rename(columns={'vwretd':'vw_index'})

In [55]:
#tbill = wrds_conn.get_table(library='crspa', table='TFZ_DLY', columns=['CALDT','TDNOMPRC'])

## Download FF data

In [8]:
factors_daily = data.download_factor_data('D')/100
factors_monthly = data.download_factor_data('M')/100

## Merge

In [9]:
df_merged = crsp_data.merge(factors_daily[['Mkt-RF','RF']], left_index=True, right_on='Date')#, how='outer')
df_merged['vw-RF'] = df_merged['vw_index'] - df_merged['RF']